In [1]:
import requests
import json
import pandas as pd
import numpy as np

In [2]:
BASE_URL = 'https://swapi.dev/api/people/'

In [3]:
starwars_api = requests.get(BASE_URL).json()
all_characters = starwars_api["results"]

while starwars_api["next"]:
    starwars_api = requests.get(starwars_api["next"]).json()
    all_characters.extend(starwars_api["results"])

In [4]:
# Создадим новый словарь 
tatooine_characters = []

In [5]:
def get_name(url: str):
    if isinstance(url, list):
        
        result_list = []
        
        for ulr_ in url:
            result = requests.get(ulr_).json()
            result_list.append(result.get('name'))
        
        return result_list
    
    elif not url:
        return np.nan
    
    else:
        result = requests.get(url).json()
        return result.get('name')

In [6]:
for dict_ in all_characters:
     if dict_.get('homeworld') == 'https://swapi.dev/api/planets/1/':  # Tatooine
        
        starships = get_name(dict_.get('starships'))
        
        if not starships:
            tatooine_characters.append({
            'name': dict_.get('name'),
            'homeworld.name': 'Tatooine',
            'height': dict_.get('height'),
            'gender': dict_.get('gender'),
            'starships.name': np.nan
        }
            )
        
        else:
            for item in starships:

                tatooine_characters.append({
                'name': dict_.get('name'),
                'homeworld.name': 'Tatooine',
                'height': dict_.get('height'),
                'gender': dict_.get('gender'),
                'starships.name': item
            }
)

In [7]:
df = pd.DataFrame.from_dict(tatooine_characters)

In [8]:
df

                  name homeworld.name height  gender            starships.name
0       Luke Skywalker       Tatooine    172    male                    X-wing
1       Luke Skywalker       Tatooine    172    male          Imperial shuttle
2                C-3PO       Tatooine    167     n/a                       NaN
3          Darth Vader       Tatooine    202    male           TIE Advanced x1
4            Owen Lars       Tatooine    178    male                       NaN
5   Beru Whitesun lars       Tatooine    165  female                       NaN
6                R5-D4       Tatooine     97     n/a                       NaN
7    Biggs Darklighter       Tatooine    183    male                    X-wing
8     Anakin Skywalker       Tatooine    188    male             Naboo fighter
9     Anakin Skywalker       Tatooine    188    male  Trade Federation cruiser
10    Anakin Skywalker       Tatooine    188    male          Jedi Interceptor
11      Shmi Skywalker       Tatooine    163  female                       NaN
12         Cliegg Lars       Tatooine    183    male                       NaN

In [9]:
# Пункт 2.  Написать функцию для сохранения таблицы в CSV
def to_csv(df_, path):
    df_.to_csv(path, sep=',',index=False) # to def

In [10]:
to_csv(df, './file.csv')

In [11]:
# Пункт 3.  Написать функцию для сохранения таблицы в бд Mysql
import mysql.connector
from mysql.connector import Error

def create_connection(host_name, user_name, user_password):
    connection = None
    try:
        connection = mysql.connector.connect(
            host=host_name,
            user=user_name,
            passwd=user_password
        )
        print("Connection to MySQL DB successful")
    except Error as e:
        print(f"The error '{e}' occurred")
        return connection

connection = create_connection("localhost", "root", "")

The error '2003: Can't connect to MySQL server on 'localhost:3306' (10061 Подключение не установлено, т.к. конечный компьютер отверг запрос на подключение)' occurred